Yarıçapı 7 olan bir dairenin alanını bulan Python kodunu yazınız.

In [1]:
pi = 3.14
r = 7
x = pi * r**2
print(x)

153.86

Bir kenarı 5, diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan Python kodunu yazınız.

In [2]:
a = 5 ** 2
b = 12 ** 2
x = a + b
h = x ** 0.5
print(h)

13.0

In [5]:
print("Serhan", "Sylvanas", "Subasi", sep=", ")  #sep=

Serhan, Sylvanas, Subasi

In [7]:
print("Serhan", end=", ")  #end=
print("Subasi", end=", ")
print("Sylvanas")

Serhan, Subasi, Sylvanas

Kullanıcıdan kilo ve boy bilgisini alan ve girilen bilgilere göre vücut kitle indeksini(vki) hesaplayan kodu yazınız.

In [11]:
kilo = float(input("Lütfen kilonuzu giriniz"))  #İnput
boy = float(input("Lütfen boyunuzu giriniz"))
vki = kilo / boy ** 2
print("vki sonucu:", vki)

vki sonucu: 25.2162533116282

In [10]:
print('I\'m Python Teacher')   #\n

I'm Python Teacher

In [12]:
print("Serhan", "\t Subasi")  #\t

Serhan 	 Subasi

In [13]:
print("Serhan", "Sylvanask\b")  #\b

Serhan Sylvanas

In [14]:
#işlem önceliği sırası

In [18]:
True or False and not 0 and 3 or False #ilk True gelir

True

In [19]:
False or 5 and 0 and not True or True #sondaki True gelir

True

In [21]:
"Mars söylerken yumruk göklerde"[ 5 : 11 ]  #söyler = 5 to 10 (sonuncu dahil değil o yüzden 11 girdik)

'söyler'

In [24]:
"Mars söylerken yumruk göklerde"[4 : : 2]

' ölre urkgked'

### String Methodları

In [36]:
string = "serhan Subasi"

In [28]:
string.upper()

'SERHAN SUBASI'

In [26]:
string.lower()

'serhan subasi'

In [29]:
string.capitalize() # ilk harfi büyütür.

'Serhan subasi'

In [31]:
string.title() # Her kelimenin ilk harfini büyütür.

'Serhan Subasi'

In [32]:
string.replace("i","ı")

'Serhan Subası'

In [39]:
string.isalpha() # space karakteri olduğu  yalnızca harflerden mi oluşuyor denilince False verdi.

False

In [45]:
len(string)  # len() iterable olanlarda çalışır sadece.

13

In [47]:
string.count("a") # a harfi 2 tane var.

2

In [49]:
string.split(" ") # boşluktan böldük ve 2 elemanlı bir list oldu.

['serhan', 'Subasi']

In [53]:
string.strip("si")  #baştan ve sondan s,i,si ve is içerenleri sildi.

'erhan Suba'

In [55]:
x = 9

if x < 8:
    print("Naber")
elif x == 8:
    print("ya")
else:
    print("panpa?")

panpa?

## List  []

In [56]:
liste = ["Serhan", "Subasi", 30, 1994, ["Sylvanas" , "Lady", 5.5, 2018]]

In [57]:
len(liste)

5

In [59]:
liste[1]

'Subasi'

In [60]:
liste[4][0]

'Sylvanas'

In [62]:
liste[2] = 29
print(liste[2])

29

### List Methodları

In [69]:
liste.append("Badiş")
print(liste)

['Serhan', 'Subasi', 29, 1994, ['Sylvanas', 'Lady', 5.5, 2018], 'Badiş']

In [71]:
liste.extend([7.5,2016])
liste

['Serhan',
 'Subasi',
 29,
 1994,
 ['Sylvanas', 'Lady', 5.5, 2018],
 'Badiş',
 7.5,
 2016]

In [73]:
liste.insert(4, "Gri bulut" )
liste

['Serhan',
 'Subasi',
 29,
 1994,
 'Gri bulut',
 ['Sylvanas', 'Lady', 5.5, 2018],
 'Badiş',
 7.5,
 2016]

In [74]:
liste.remove("Gri bulut")
print(liste)

['Serhan', 'Subasi', 29, 1994, ['Sylvanas', 'Lady', 5.5, 2018], 'Badiş', 7.5, 2016]

In [77]:
liste.pop(5)
print(liste)

['Serhan', 'Subasi', 29, 1994, ['Sylvanas', 'Lady', 5.5, 2018]]

In [81]:
liste.count(29)

1